<app-toast></app-toast>
<app-loading *ngIf="isLoading"></app-loading>

<nav class="relative bg-white shadow-sm">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="flex">
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <!-- Current: "border-indigo-600 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
          <a [routerLink]="'/dashboard/cuentas/debito'"
            class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
            [ngClass]="{'!border-blue-500 text-gray-900': isDebito()}">Cuentas de débito</a>
          <a [routerLink]="'/dashboard/cuentas/tdc'"
            class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
            [ngClass]="{'!border-indigo-500 text-gray-900': isTDC()}">Tarjetas de crédito</a>
        </div>
      </div>
      
      <div class="flex items-center">

        <div class="hidden sm:ml-6 sm:flex sm:items-center">
          <button *ngIf="isDebito() && btnNuevaCuenta" type="button" (click)="nuevaCuenta()"
            class="btn-orange">Nueva cuenta</button>
            <button *ngIf="isTDC() && btnNuevaTDC" type="button" (click)="nuevaTDC()"
            class="btn-orange">Nueva tarjeta</button>
        </div>

        
      </div>

    </div>
  </div>
</nav>

<div class="my-4">
  <router-outlet></router-outlet>
</div>