<div class="flex bg-white h-screen">
  <div class="flex w-50 flex-col fixed h-full">
    <div class="relative flex grow flex-col overflow-y-auto border-r border-gray-200 bg-white px-4">
      <div class="relative flex h-20 shrink-0 items-center justify-center mt-4">
        <img src="assets/Color-nombre.png" alt="Your Company" class="h-23 w-auto" />
      </div>
      <nav class="relative flex flex-1 flex-col mt-4">
        <ul role="list" class="flex flex-1 flex-col gap-y-7">
          <li>
            <ul role="list" class="-mx-2 space-y-1">

              <app-item-menu nombre="Cuentas" link="/dashboard/cuentas/debito" activo={{tabActivo}}></app-item-menu>
              <app-item-menu nombre="Meses sin intereses" link="/dashboard/msi" activo={{tabActivo}}></app-item-menu>
              <app-item-menu nombre="Mov. recurrentes" link="/dashboard/transacciones-recurrentes" activo={{tabActivo}}></app-item-menu>
              <app-item-menu nombre="Ajustes" link="/dashboard/ajustes/categorias" activo={{tabActivo}}></app-item-menu>

            </ul>
          </li>

          <li class="-mx-4 mt-auto">
            <a (click)="cerrarSesion()"
              class="flex items-center gap-x-4 px-6 py-2 text-sm/6 text-gray-900 hover:bg-gray-50 cursor-pointer relative">
              <div
                class="flex h-6 w-6 items-center justify-center rounded-full bg-indigo-100 border border-gray-300 text-xs font-medium text-gray-600">
                {{ perfil.displayName?.slice(0, 1)?.toUpperCase() }}
              </div>
              <span aria-hidden="true">Cerrar sesión</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
  <div class="flex flex-col bg-gray-50 flex-1 ml-50 h-full overflow-y-auto pb-18">
    <!-- Replace with your content -->

    <div class="py-2 px-4">
      <router-outlet></router-outlet>
    </div>


    <!-- Botón flotante -->
    <div class="fixed bottom-6 right-6">
      <div class="relative">
        <!-- Botón principal -->
        <button (click)="toggleMenu()"
          class="w-12 h-12 rounded-full bg-indigo-600 text-white shadow-lg flex items-center justify-center hover:bg-indigo-700 focus:outline-none cursor-pointer shadow-md">
          <span class="text-2xl font-semibold">+</span>
        </button>

        <!-- Menú desplegable -->
        <div *ngIf="menuAbierto" class="absolute bottom-16 right-0 bg-white shadow-lg rounded-md w-52">
          <ul class="py-2">
            <li>
              <button (click)="nuevoIngreso()"
                class="w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 group flex gap-x-3">
                <app-arrow-right></app-arrow-right>
                <span>Nuevo ingreso</span>
              </button>
            </li>
            <li>
              <button (click)="nuevoEgreso()"
                class="w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 group flex gap-x-3">
                <app-arrow-left></app-arrow-left>
                <span>Nuevo egreso</span>
              </button>
            </li>
            <li>
              <button (click)="nuevaTransferencia()"
                class="w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 group flex gap-x-3">
                <app-arrow-left-right></app-arrow-left-right>
                <span>Nueva transferencia</span>
              </button>
            </li>
            <li>
              <button (click)="nuevaCategoria()"
                class="w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 group flex gap-x-3">
                <app-tag></app-tag>
                <span>Nueva categoría</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
<app-transferencias *ngIf="mostrarTransferenciasModal" (cerrar)="cerrarTransferenciasModal()"></app-transferencias>
<app-transacciones *ngIf="mostrarTransaccionesModal" (cerrar)="cerrarTransaccionesModal()" [tipo]=tipoTransaccion></app-transacciones>
<app-categorias-modal *ngIf="mostrarCategoriasModal" (cerrar)="cerrarCategoriasModal()"></app-categorias-modal>
<app-pago-tarjeta *ngIf="mostrarPagoTarjetaModal" (cerrar)="cerrarPagoTarjetaModal()"></app-pago-tarjeta>
<app-msi-modal *ngIf="mostrarMsiModal" (cerrar)="cerrarMsiModal()"></app-msi-modal>