<app-toast></app-toast>
<app-confirm-modal *ngIf="confirmModal" [titulo]="'Eliminar movimiento'" [mensaje]="'¿Estás seguro de que deseas eliminar este movimiento?'" [fondoOscuro]="true" (cerrar)="confirmModal=false" (confirmar)="eliminaTransaccion()"></app-confirm-modal>

<div class="px-4 py-6 bg-white shadow-sm">
    
    <h1 class="text-lg font-medium leading-6 text-gray-900 mb-10 w-full text-center border-b border-gray-900/10 pb-4" >{{tarjeta.id ? "Consulta" : "Alta"}} de tarjeta de crédito</h1>
    <form (ngSubmit)="enviaDatos()" method="POST" class="space-y-8">

        <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-4">
            
            <div class="input-form-text">
                <label for="nombreTDC">Nombre</label>
                <input [(ngModel)]="tarjeta.nombre" id="nombreTDC" type="text" name="nombreTDC" autocomplete="off" [disabled]="!editar && tarjeta.id" [ngClass]="{'bg-gray-100': !editar, 'bg-white': editar}" />
                <p *ngIf="valNombre">Este campo es obligatorio</p>
            </div>
            

            <div class="input-form-text">
                <label for="descipcion">Descripción</label>
                <input [(ngModel)]="tarjeta.descripcion" id="descipcion" type="text" name="descipcion" autocomplete="off" [disabled]="!editar && tarjeta.id" [ngClass]="{'bg-gray-100': !editar, 'bg-white': editar}" />
                <p *ngIf="valDescripcion">Este campo es obligatorio</p>
            </div>

            <div class="input-form-text">
                <label for="institucion">Institución</label>
                <input [(ngModel)]="tarjeta.institucion" id="institucion" type="text" name="institucion" autocomplete="off" [disabled]="!editar && tarjeta.id" [ngClass]="{'bg-gray-100': !editar, 'bg-white': editar}"/>
                <p *ngIf="valInstitucion">Este campo es obligatorio</p>
            </div>

            <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-2">
                <div class="input-form-text">
                    <label for="dpago">Día de pago</label>
                    <input [(ngModel)]="tarjeta.dpago" (input)="validarDia($event)" id="dpago" type="number" name="dpago" autocomplete="off" [disabled]="!editar && tarjeta.id" [ngClass]="{'bg-gray-100': !editar, 'bg-white': editar}"/>
                    <p *ngIf="valDpago">Este campo es obligatorio</p>
                </div>
                <div class="input-form-text">
                    <label for="dcorte">Día de corte</label>
                    <input [(ngModel)]="tarjeta.dcorte" (input)="validarDia($event)" id="dcorte" type="number" name="dcorte" autocomplete="off" [disabled]="!editar && tarjeta.id" [ngClass]="{'bg-gray-100': !editar, 'bg-white': editar}"/>
                    <p *ngIf="valDcorte">Este campo es obligatorio</p>
                </div>
            </div>

        </div>

        <div class="pt-6 flex items-center justify-end gap-x-6 border-t border-gray-900/10 relative h-10">
            <button *ngIf="tarjeta.id" (click)="activaDesactivaTarjeta()" type="button" class="btn-danger absolute left-0">{{tarjeta.activa ? "Desactivar" : "Activar"}} TDC</button>
            <button *ngIf="editar && tarjeta.id" (click)="cancelaEdicion()" type="button" class="btn-secondary">Cancelar</button>
            <button *ngIf="editar || !tarjeta.id" type="submit" class="btn-primary">Guardar</button>
            <button *ngIf="!editar && tarjeta.id && tarjeta.activa" (click)="editar=true" type="button" class="btn-primary">Editar</button>
          </div>
    </form>
</div>


<div *ngIf="tarjeta.id">

<nav class="bg-white shadow-sm mt-4 pt-4">
  <h1 class="text-lg font-medium text-gray-900 w-full text-center">Movimientos</h1>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-12 justify-between">
      <div class="flex justify-center w-full">
          <div (click)="cmabiaTipoMovimiento('General')" [ngClass]="{'!border-orange-400 text-gray-900': tipoMovimiento == 'General'}" class="inline-flex items-center border-b-2 border-transparent px-10 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700 cursor-pointer">General</div>
          <div (click)="cmabiaTipoMovimiento('Ingresos')" [ngClass]="{'!border-orange-400 text-gray-900': tipoMovimiento == 'Ingresos'}" class="inline-flex items-center border-b-2 border-transparent px-10 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700 cursor-pointer">Ingresos</div>
          <div (click)="cmabiaTipoMovimiento('Egresos')" [ngClass]="{'!border-orange-400 text-gray-900': tipoMovimiento == 'Egresos'}" class="inline-flex items-center border-b-2 border-transparent px-10 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700 cursor-pointer">Egresos</div>
      </div>
    </div>
  </div>
</nav>

<div class="flex justify-center mt-5">
  <div class="flex items-center space-x-4">
    <app-left-icon class="h-6 w-6 text-gray-500 hover:text-gray-700 cursor-pointer" (click)="cambiaMes(-1)"></app-left-icon>
    <h1 class="text-lg font-medium leading-6 text-gray-900 w-full text-center">{{fechaActual | date: 'LLLL yyyy' | mesEs}}</h1>
    <app-right-icon class="h-6 w-6 text-gray-500 hover:text-gray-700 cursor-pointer" (click)="cambiaMes(1)"></app-right-icon>
  </div>
</div>

<div *ngIf="transacciones.length > 0" class="p-4 bg-white shadow-sm mt-5">
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="mt-1 flow-root">
        <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <table class="relative min-w-full divide-y divide-gray-300">
              <thead>
                <tr>
                  <th scope="col" class="py-3.5 pr-3 pl-4 text-center text-sm font-semibold text-gray-900 sm:pl-0">Fecha</th>
                  <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Concepto</th>
                  <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Tipo</th>
                  <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Importe</th>
                  <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Descripción</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200">
                <tr *ngFor="let trans of transacciones | filterTipoTransaccion : tipoMovimiento; let i = index " class="hover:bg-gray-50">
                  <td class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 text-center sm:pl-0">{{trans.fecha}}</td>
                  <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500 text-center">{{trans.concepto}}</td>
                  <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500 text-center">{{trans.tipo}}</td>
                  <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500 text-center">{{trans.importe | currency:'USD':'symbol-narrow'}}</td>
                  <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500 text-center">{{trans.descripcion}}</td>
                  <td>
                    <app-options-menu (editar)="editarTransaccion(trans)" (eliminar)="showConfirmModal(trans)"></app-options-menu>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p *ngIf="transacciones.length === 0" class="text-center text-gray-500 mt-10">No hay movimientos para este mes</p>
  
</div>