<app-toast></app-toast>


<nav class="relative bg-white shadow-sm">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="flex">
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <a class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700 cursor-pointer" [ngClass]="{'!border-green-500 text-gray-900': tipoMovimiento == 'Egreso'} " (click)="tipoMovimiento = 'Egreso'" >Cargos recurrentes</a>
        </div>

        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
            <a class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700 cursor-pointer" [ngClass]="{'!border-green-500 text-gray-900': tipoMovimiento == 'Ingreso'} " (click)="tipoMovimiento = 'Ingreso'">Ingresos recurrentes</a>
        </div>
      </div>

      <div class="flex items-center">

        <div class="hidden sm:ml-6 sm:flex sm:items-center">
          <button type="button" (click)="abrirModal()" class="btn-green">Nuevo {{tipoMovimiento == "Egreso" ? "cargo" : "ingreso"}} recurrente</button>
        </div>
      </div>
    </div>
  </div>
</nav>


<div class="p-4 bg-white shadow-sm mt-4">

  <div class="px-4 sm:px-6 lg:px-8">
    <div class="mt-1 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="general-table">
            <thead>
              <tr>
                <th scope="col" class="text-center">Fecha</th>
                <th scope="col" class="text-center">Concepto</th>
                <th scope="col" class="text-center">Cuenta / Tarjeta</th>
                <th scope="col" class="text-center">Importe</th>
                <th scope="col" class="text-center">Periodicidad</th>
              </tr>
            </thead>
            <tbody>
                
              <ng-container *ngFor="let trans of transacciones" >
                <tr *ngIf="tipoMovimiento == trans.tipo" (click)="consultaTransaccion(trans)" class="hover:bg-gray-200 cursor-pointer">
                  <td class="text-center text-gray-900">{{trans.fecha}}</td>
                  <td class="text-center text-gray-900">{{trans.concepto}}</td>
                  <td class="text-center text-gray-500">{{consultaCuentaTarjeta(trans)}}</td>
                  <td class="text-center text-gray-500">$ {{ trans.importe | number:'1.2-2' }}</td>
                  <td class="text-center text-gray-500">{{ trans.periodicidad }}</td>
                </tr>
              </ng-container>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-transacciones-recurrentes-modal *ngIf="modalAbierto" (cerrar)="cerrarModal()" [tipoMovimiento]="tipoMovimiento"></app-transacciones-recurrentes-modal>  